.thumbnail {
  border-radius: 5px; 
}

.tk-footer {
  display: none;
}

.twikoo .tk-submit .el-textarea__inner {
  min-height: 150px !important;
}

.el-button--small {
  border-radius: 5px !important;
}

.el-button, textarea.el-textarea__inner {
  border: 0 !important;
  border-radius: 5px !important;
}

input.el-input__inner, .el-input-group__prepend {
  border: 0 !important;
}

textarea.el-textarea__inner {
  resize: none;
  background-color: rgba(65, 74, 110, 0.3) !important;
}

input.el-input__inner {
  background-color: rgba(65, 74, 110, 0.3) !important;
}

.tk-content img {
  border-radius: 0.375rem !important;
}

.tk-tag-green {
  border-radius: 5px !important;
  border: 0 !important;
}