:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    226,227,228;
--color-neutral-200:    186,189,191;
--color-neutral-300:    146,151,155;
--color-neutral-400:    108,112,117;
--color-neutral-500:    71,74,77;
--color-neutral-600:    51,54,56;
--color-neutral-700:    32,33,35;
--color-neutral-800:    12,13,13;
--color-neutral-900:    0,0,0;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,255,255;
--color-primary-300:    255,253,253;
--color-primary-400:    255,178,177;
--color-primary-500:    255,103,100;
--color-primary-600:    255,63,59;
--color-primary-700:    255,23,18;
--color-primary-800:    233,5,0;
--color-primary-900:    192,4,0;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,246,223;
--color-secondary-300:    255,226,146;
--color-secondary-400:    255,205,69;
--color-secondary-500:    248,181,0;
--color-secondary-600:    207,151,0;
--color-secondary-700:    166,121,0;
--color-secondary-800:    126,92,0;
--color-secondary-900:    85,62,0;
}