h2.chtitle {
  position: absolute;
  text-align: center;
  left: 50%;
  width: 100%;
  border: 5em;
}
.gate .links .item {
    margin: 5px;
    padding: 15px;
    float: left;
    width: 250px;
    display: flex;
    align-items: center;
    height: 80px !important;
    transition: .2s all;
    opacity: .85;
  }
  
  .gate .links .item.akarin {
    opacity: .58;
  }
  
  .gate .links .item:hover {
    opacity: 1;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .25);
    transform: translateY(-5px);
    box-shadow: 0 3px 20px rgba(0, 0, 0, .28);
    animation: index-link-active 1s cubic-bezier(.315, .605, .375, .925) forwards;
    -webkit-animation: index-link-active 1s cubic-bezier(.315, .605, .375, .925) forwards;
  }
  
  .gate .links .item .avatar {
    height: 60px;
    line-height: 60px;
    margin: 0 0 0 12px;
    width: 60px;
    border-radius: 100% 100% 100% 52%;
    text-align: center;
    margin-right: 12px;
    background-color: #353535;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  .gate .links .item .avatar i {
    font-size: 24px;
  }
  
  .gate .links .item .avatar img {
    height: 60px;
    max-width: 60px;
  }
  
  .gate .links .item .inner {
    padding: 6px;
  }
  
  .gate .links .item .inner h5 {
    font-weight: 400;
    font-size: 17px;
  }
  
  .gate .links .item .inner p {
    font-size: 13px;
    color: hsla(0, 0%, 100%, .6);
    margin: 0;
  }
  
  .container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
  }
  
  .clear {
    margin-top: 8em;
  }

.gate .links .clear {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    body,
    html {
      min-width: 0;
    }
    
    h2.chtitle {
      position: static;
      text-align: center;
      width: 100%;
      border: 5em;
    }

    .container {
      width: 90%;
      margin: 0 auto;
    }
  
    .gate .links .item,
    .find .links .item {
      flex: 0 0 46%;
      width: 250px;
      height: auto;
      padding: 15px 15px 15px 0;
      margin: 10px 0;
      box-sizing: border-box;
    }
  
    .find .links .item {
      height: 60px;
      line-height: 60px;
      font-size: 13px;
    }
  
    .gate .links .item .avatar {
      height: 40px;
      line-height: 40px;
      width: 40px;
    }
  
    .gate .links .item .avatar img {
      height: 40px;
      max-width: 40px;
    }
  
    .gate .links .item .inner {
      padding: 0;
    }
  
    .gate .links .item .inner h5 {
      font-size: 15px;
    }
  
    .gate .links .item .inner h5,
    .gate .links .item .inner p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .clear {
      margin-top: 5em;
    }
  }